<div class="ms-Persona ms-Persona--xs">
  <div class="ms-Persona-imageArea">
    <div class="ms-Persona-initials ms-Persona-initials--blue">{{initials}}</div>
    <img class="ms-Persona-image" src="{{photoUrl}}"></div>
  <div class="ms-Persona-presence"></div>
  <div class="ms-Persona-details">
    <div class="ms-Persona-primaryText">{{firstName}} {{lastName}}</div>
  </div>
</div>